@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.banner {
  color: white;
  height: 80vh;
  min-width: 100%;
  position: relative;
}

.banner {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .3; /*this should be an own class*/
  transition: 0.5s ease;
  background-color: #111;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner__contents {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 85px;
  white-space: nowrap;
  /* border: 1px solid red; */
}

.bannerBtn__container {
  display: flex;
}
.banner__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 8px;
  display: inline-block;
  padding: 7px 24px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
}

.banner__btn:hover {
  cursor: pointer;
  border-color: grey;
}

.banner__title {
  /* padding-left: 1em; */
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 4px;
}

.banner__subTitle {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px;
}
/* 
.banner--fadeBottom {
  position: absolute;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 25.4rem;
  max-height: 30vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #232323
  );
} */

/* 232526 */

@media screen and (max-width: 500px) {
  .banner {
    height: 60vh;
  }
  .banner--fadeBottom {
    height: 15vh;
  }
  .banner__contents {
    /* border-bottom: 1px solid red; */
    top: 50%;
    right: 35%;
    transform: translate(50%, -50%);
    margin-left: 0;
    padding: 1rem;
  }
  .banner__subTitle {
    font-size: 24px;
    margin-bottom: 8px;
    /* text-shadow: 1px 1px 1px #383838, 1px 2px 1px #383838; */
  }
  .banner__title {
    /* padding-left: 1em; */
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    /* text-shadow: 1px 1px 1px #383838, 1px 2px 1px #383838; */
  }
  .banner__btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 7px;
    padding: 8px 17px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border: black;
  }
}

@media screen and (max-width: 768px) {
  .banner__contents {
    margin-left: 0px;
  }
  /* .banner__btn--overlay {
    display: none;
  } */
}

.banner__section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.banner__section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px
} */

.banner__section > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
