@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap");

.banner {
  color: white;
  height: 95vh;
  min-width: 100%;
  display: grid;
  place-items: center;
  /* font-family: "Dancing Script", cursive; */
  /* font-weight: 300; */
  text-shadow: 1.4px 1px black;
  position: relative;
  top: 0;
  /* border: 1px solid green; */
}

.banner__contents {
  /* border: 1px solid red; */
  /* width: 90%; */
  opacity: 0.9;
  padding: 2rem;
  position: absolute;
  top: 40%;
}

.banner__alignmentContainer {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner__text {
  /* border: 1px solid blue; */
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner__span {
  font-family: "Dancing Script", cursive;
}

.banner__title {
  padding-left: 1em;
  /* border: 1px solid green; */
  font-weight: 500;
}

.banner--fadeBottom {
  position: absolute;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 25.4rem;
  max-height: 30vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #232526
  );
}

@media screen and (max-width: 500px) {
  .banner {
    height: 50vh;
  }
  .banner--fadeBottom {
    height: 15vh;
  }
}
