.bestill {
  height: auto;
  width: 100%;
  background-color: rgb(233, 233, 233);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6rem;
  /* position: relative; */
}

._loading_overlay_overlay {
  background-color: none !important;
  background: none !important;
  color: grey !important;
}

.mainContainer--bestill {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  /* border: 2px solid blue; */
  margin-top: 50px;
}

.secondary_container {
  width: 50%;
  max-width: 1200px;
  margin: 1rem;
  padding: 1rem;
  /* border: 3px solid red; */
}

/* for targeting calendar specific */
.specific--calendar--container--s1 {
  width: 70%;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  /* border: 1px solid red; */
}

._loading_overlay_content,
.css-42igfv {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.calendar__backBtn {
  display: inline-block;
  margin-bottom: 4rem;
  background: none;
  border: none;
  color: blue;
  /* border: 1px solid red; */
}

.calendar__backBtn:active {
  box-shadow: none;
}

.calendar__backBtn:hover {
  cursor: pointer;
}
.calendar__backBtn::before {
  content: "";
  border: solid blue;
  border-width: 0 1.5px 1.5px 0;
  float: left;
  margin-top: 5px;
  margin-right: 4px;
  padding: 4px;
  transform: rotate(130deg);
}

.calendar__firstHeading {
  margin-bottom: 5rem;
  font-size: 28px;
  font-weight: 600;
}
.calendar__valgdtDatoTxt {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 3px;
}

.wrapperSummray {
  height: 80vh;
  width: 400px;
  /* border: 1px solid red; */
}

.summary {
  margin: 2rem;
  padding: 2rem;
  float: left;
  width: 300px;
  height: 200px;
  position: fixed;
}

.summary__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #32292f;
  /* border: 1px solid white; */
  border: none;
  color: white;
  margin-top: 2rem;
}

/* CALENDAR BUTTONS AND STYLES */
.nice-dates-day {
  font-size: 18px !important;
}
.nice-dates-week-header_day {
  font-size: 18px !important;
  font-weight: bold;
  color: #111 !important;
}

.nice-dates-day_month {
  font-size: 14px !important;
  line-height: 0.5 !important;
}

.nice-dates-navigation_next:before {
  border-right: 2px solid blue !important;
  border-top: 2px solid blue !important;
}

.nice-dates-navigation_next:before {
  border-right: 2px solid blue !important;
  border-top: 2px solid blue !important;
}

.nice-dates-navigation_previous:before {
  border-right: 2px solid blue !important;
  border-top: 2px solid blue !important;
}

.nice-dates-navigation_previous.-disabled:before {
  border-right: 2px solid rgba(0, 0, 255, 0.39) !important;
  border-top: 2px solid rgba(0, 0, 255, 0.315) !important;
}

.nice-dates-navigation_current {
  font-size: 18px !important;
}

.nice-dates-day {
  color: blue !important;
}

.nice-dates-day:after,
.nice-dates-day:before {
  border-radius: 0px !important;
  background-color: #32292f !important;
}
.nice-dates-day:hover {
  color: white !important;
}

.nice-dates-day.-disabled {
  color: #b0b0b0 !important;
}

.nice-dates-day.-highlight {
  color: red !important;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35% 35%, auto;
}

.nice-dates-day.-today {
  color: black !important;
}

/* INPUT FIELDS */

.bestillContact__container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.bestill__input--container {
  /* border: 1px solid red; */
  /* height: 500px; */
  padding: 8px;
}

.bestill__input--container > p {
  margin-bottom: 12px;
}

.input--name > input,
.input--email > input,
.input--number > input,
.input--message > input {
  border: none;
  background: none;
  outline: none;
  outline-width: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  /* border: 1px solid blue; */
}

.input--name,
.input--email,
.input--number,
.input--message {
  border: 1px solid lightgray;
  height: 40px;
  margin-bottom: 8px;
}

/* CALENDAR STYLE */

.MuiPickersToolbar-toolbar {
  background-color: #32292f !important;
}
.MuiPickersClockPointer-pointer {
  background-color: #32292f !important;
}

.MuiPickersClockPointer-noPoint {
  background-color: #32292f !important;
}

.MuiPickersClockPointer-thumb {
  border: 14px solid #32292f !important;
}

/* TIME */

.time--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
  margin-top: 2rem;
}

.selectTime {
  margin-bottom: 2rem;
  position: relative;
  left: -104px;
}

.selectTime > h2 {
  font-weight: 400;
  font-size: 18px;
}

.time--error {
  margin-bottom: 2rem;
  position: relative;
  left: -100px;
  font-size: 12px;
  color: red;
}

.flex--container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 50%;
}

#scrollID {
  scroll-margin-bottom: 10rem;
  border-top: 1px solid lightgray;
  margin-top: 4px;
}

.flex--container h2 {
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}

.flex--container p {
  text-align: center;
  padding: 4px 12px;
  margin-bottom: 1rem;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid transparent;
}

.flex--container p:hover {
  cursor: pointer;
  border: 1px solid #32292f;
}

.time--stamp.selected {
  border: 1px solid #32292f;
}

.btn--container {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
}

.time__btn {
  background: none;
  border: none;
  color: blue;
}

.time__btn:active {
  box-shadow: none;
}

.time__btn:hover {
  cursor: pointer;
}

.time__btn:after {
  content: "";
  border: solid black;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 6px;
  margin-left: 10px;
  padding: 3px;
  transform: rotate(45deg);
}

.input__error {
  color: red;
  /* border: 1px solid red; */
  font-size: 13px;
}

.screen3 {
  /* border: 1px solid red; */
  width: 100%;
  height: 60vh;
}

.first--horizontal--row {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.screen3__heading > h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.second--horizontal--row {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  height: 60%;
  /* flex-direction: column; */
}

.dateColumn > h1,
.dateColumn > h3,
.dateColumn > p {
  text-align: center;
}

.dateColumn > h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.dateColumn > h3 {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 400;
}

.confirmationColumn > h2 {
  font-weight: 500;
}

.MuiCircularProgress-svg {
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .specific--calendar--container--s1 {
    width: 100%;
  }

  .flex--container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .secondary_container {
    /* border: 1px solid red; */
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .secondary_container {
    width: 95%;
    margin: 0rem;
    padding: 0rem;
  }

  .nice-dates-day {
    font-size: 12px !important;
  }
  .nice-dates-week-header_day {
    font-size: 14px !important;
    font-weight: bold;
    color: #111 !important;
  }

  .nice-dates-day_month {
    font-size: 12px !important;
    line-height: 0.5 !important;
  }

  .nice-dates-navigation_current {
    font-size: 16px !important;
  }
  .specific--calendar--container--s1 {
    width: 100%;
  }
  .flex--container {
    width: 100%;
  }
  .flex--container h2 {
    font-size: 18px;
  }
  .calendar__firstHeading {
    margin-bottom: 3rem;
    font-size: 22px;
  }
  .calendar__valgdtDatoTxt {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1.5rem;
  }
  .calendar__backBtn {
    margin-bottom: 2rem;
  }

  #timeNextBtn {
    padding-right: 9rem;
    padding-left: 9rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .wrapperSummray {
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
  }

  .summary {
    margin: 0rem;
    padding: 0;
    /* float: left; */
    width: 100%;
    height: 100%;
    position: inherit;
    /* border: 1px solid red; */
  }
  .reviewBookingMobile > h1 {
    font-size: 22px;
    font-weight: 600;
  }

  .summary--container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 3rem;
  }
  .summary__btn {
    padding-right: 9rem;
    padding-left: 9rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
