.contactForm {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  margin: 30px 30px 30px 30px;
  /* border: 1px solid red; */
}

h1 {
  font-size: 1.8em;
}

.contactForm__form {
  display: flex;
  flex: 0.5;
}

.contactForm__title {
  margin-left: 75px;
  margin-top: 100px;
  margin-bottom: 20px;
  /* border: 1px solid brown; */
}

/* LEFT */

.contactForm__form--left {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
  /* flex: 1; */
  height: 100%;
  width: 100%;
  min-width: 350px;
}

.contactForm__form--inputs {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.input__container {
  border: 1px solid grey;
  margin-bottom: 10px;
  min-width: 250px;
  width: 90%;
}

.contactForm__input {
  border: none;
  width: 90%;
  background-color: transparent;
  outline-width: 0;
  font-size: 16px;
  height: 20px;
  padding: 20px;
}
.contactForm__input > input:focus {
  outline-width: 0;
}
.contactForm__input > :active {
  outline-width: 0;
}

#comment__input--container {
  height: 100px;
}

#comment__input {
  height: 50px;
}
select[name^="type"] {
  height: 70px;
  width: 95%;
}
select[name^="pricePackage"] {
  height: 70px;
  width: 95%;
}

.input__container:hover {
  cursor: text;
}

.contactForm__input--select:hover {
  cursor: pointer;
}

.contactForm__form--text {
  padding: 10px;
  padding-left: 2rem;
  max-width: 1000px;
  margin-bottom: 1rem;
  margin-left: 2.4rem;
}

.contactForm__form--text > p {
  letter-spacing: 1px;
  font-size: 18px;
}

.contactForm__form--checkbox {
  margin-top: 0.3rem;
  padding-left: 4rem;
  margin-left: 0.5rem;
}

.contactForm__form--checkbox--text {
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-left: 1rem;
  font-size: 14px;

  /* border: 1px solid red; */
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  transform: scale(1.7);
  padding: 10px;
}

.contactForm__form--button {
  display: flex;
  justify-content: flex-end;
  margin-right: 65px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contactForm__form--button > button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #32292f;
  /* border: 1px solid white; */
  border: none;
  color: white;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:active {
  cursor: pointer;
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

/* Right */

.contactForm__form--right {
  display: flex;
  flex: 0.5;
  margin-top: 80px;
  /* max-width: 1500px;
  min-width: 1500px; */

  /* border: 10px solid brown; */
}

.contactForm__form--right > img {
  height: 100vh;
  /* display: block; */
  width: 100%;
  /* min-width: 1500px; */
  object-fit: cover;
}

/* .contactForm__logo > img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  object-fit: contain;
}

.contactForm__maps > img {
  margin-top: 30px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.contactForm__maps > h2 {
  margin-bottom: 1rem;
} */

.error {
  color: red;
  margin-bottom: 1rem;
  /* border: 1px solid blue; */
  padding-left: 1rem;
  width: 100%;
  margin-left: 4.5rem;
  font-size: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .contactForm__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactForm__form--button {
    justify-content: center;
    margin-bottom: 30px;
    /* border: 2px solid red; */
  }
  .contactForm__form {
    margin-top: 0px;
  }

  .contactForm__logo > img {
    width: 150px;
    height: 150px;
  }

  .contactForm__maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .contactForm__form--left {
    align-items: center;
  }
  .contactForm__title {
    margin-left: 0px;
  }
  .contactForm__form--button {
    margin-left: 20px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .contactForm__input {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contactForm__form--right > img {
    display: none;
  }
  .contactForm__form--right {
    display: none;
  }
  .contactForm__form {
    display: flex;
    flex: 1;
  }

  .contactForm__form--text {
    margin-left: 0;
  }
  .error {
    margin-left: 1rem;
  }
  .contactForm__form--checkbox {
    padding-left: 2rem;
  }
  .contactForm__title {
    margin-top: 0px;
  }
}
