.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  width: 100%;
  top: 0;
  padding: 20px 20px;
}

.header__white {
  background-color: white;
  /* box-shadow: 8px 9px 20px -15px rgba(0, 0, 0, 0.75); */
}

.header__absoluteFixed {
  position: absolute;
  position: fixed;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.header__sticky {
  position: fixed;
  background-color: white;
  box-shadow: 8px 9px 20px -15px rgba(0, 0, 0, 0.75);
}

.header__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 2rem; */
  /* border: 1px solid red; */
  max-width: 1500px;
  width: 100%;
}

.header__title {
  margin-bottom: 5px;
  font-size: 20px;
}

.header__titleWhite {
  color: rgb(248, 248, 248);
}

.header__titleBlack {
  color: #202020;
}

.header__title:hover {
  color: #787878;
  cursor: pointer;
}

.header__heading--active {
  border-bottom: 3px solid #ff8c27;
}
.header__heading--active2 {
  border-bottom: 2px solid #ff8c27;
}

.header__mobileMenu {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  /* z-index: 50; */
}

.half-black {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  z-index: 50;
}

.header__mobileMenuContents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
  height: 55%;
  /* border: 1px solid red; */
}

.header__mobileMenuContentsContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header__mobileMenuContact {
  /* border: 4px solid green; */
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  height: 35%;
}

.header__mobileMenuContactContainer {
  /* border: 2px solid blue; */
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.gallery__menu {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch; /*takes whole space in row direction*/
}

.gallery__subMenu {
  border-left: 1.5px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  margin-left: 10px;
  margin-top: 10px;
  height: 150px;
}

address > p {
  font-style: normal;
  font-size: 12px;
  color: #202020;
}

@media screen and (max-width: 800px) {
  .header__heading--mobile {
    display: none;
  }
}

.header__burgerIcon {
  display: none;
}

.header__burgerIconWhite {
  color: rgb(218, 218, 218);
}

.header__burgerIconBlack {
  color: #202020;
}

@media screen and (max-width: 801px) {
  .header__burgerIcon {
    display: inline;
    margin-right: 2em;
  }
}
