.imageCarousel__image {
  margin-top: 3rem;
}

.imageCarousel__image > img {
  height: 100vh;
  object-fit: contain;
}

.imageCarousel__loader--container {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  justify-content: center;
  height: 100vh;
}
