.imageRow {
  display: flex;
  /* border: 5px solid blue; */
  /* flex-wrap: wrap; */
}

.imageRow--reverseDirection {
  flex-direction: row-reverse;
}

.imageRow__container {
  /* border: 2px solid green; */
  display: flex;
  margin: 0.4rem;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
}
