@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Playfair+Display&family=Zen+Loop&display=swap");

.infoRow {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  background-color: #f0f0f0;
  /* height: 60vh; */
  margin-left: 30px;
  margin-right: 30px;
  width: 80vw;
  /* border: 8px solid blue; */
}

.infoRow__contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 8px solid blue; */
  min-width: 200px;
}

/* ================================================================= LEFT */
.infoRow__contents--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid blue; */
}

.infoRow__contents--left--title {
  /* border: 2px solid red; */
  padding: 10px;
}

.infoRow__contents--left--title .infoRow__title {
  font-size: 4rem;
  padding: 8px 0;
}

.infoRow__contents--left--description {
  padding: 10px;
  font-size: 2rem;
}

.infoRow__description {
  font-size: 1.9rem;
  /* max-width: 350px; */
  font-weight: 600;
  font-style: italic;
  width: 90%;
}

/* ================================================================= RIGHT */
.infoRow__contents--right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid purple; */
}

.infoRow__image {
  margin-top: 50px;
  box-shadow: 8px 2px 20px -10px rgba(0, 0, 0, 0.75);
  /* border: 8px solid red; */
}

.infoRow__contents--right > img {
  object-fit: contain;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
}

@media screen and (max-width: 930px) {
  .infoRow__contents {
    flex-direction: column-reverse;
  }

  .infoRow__contents--right {
    margin-bottom: 50px;
  }

  .infoRow__contents--left--title {
    padding: 10px;
    margin-left: 15px;
  }

  .infoRow__contents--left--title .infoRow__title {
    font-size: 3rem;
  }
  .infoRow__contents--left--description {
    padding: 10px;
    margin-left: 15px;
  }
  .infoRow__contents--left--description .infoRow__description {
    font-size: 2rem;
  }
}
