.mainRow {
  display: flex;
  /* align-items: center; * MUST BE OPTIONAL */
  margin: 100px 30px 30px 30px;
  padding: 60px 60px 60px 60px;
  /* border: 2px solid red; */
}

.mainRow-background-color {
  background-color: white;
}

/* UTILITY CLASSES */

.mainRow_flexDirectionRow {
  flex-direction: row;
}

.mainRow_flexDirectionColumn {
  flex-direction: column;
}

.mainRow__reversed {
  flex-direction: row-reverse;
}

.mainRow__content--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  /* border: 3px solid purple; */
}

.mainRow__content {
  padding: 1em;
  max-width: 80%;
}

.mainRow__content--priceDescription {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.mainRow__content > h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}
.mainRow__content > h3 {
  letter-spacing: 0.7px;
  padding-bottom: 1rem;
  font-size: 2rem;
  padding: 8px 0;
}

.mainRow__content > p {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.5em;
  font-weight: 500;
  padding: 8px 0;
  font-size: 1.9rem;
}

.mainRow__content--colorWhite {
  color: #fff;
}

.mainRow__image--container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0.4;
}

hr {
  border: 1px solid #e0e0e0;
  opacity: 0.6;
  border-radius: 2px;
  width: 80%;
  margin-top: 3rem;
}

.mainRow__image--container > img {
  object-fit: contain;
}

.mainRow__content--container--button--container {
  margin: 5px;
  margin-left: 1em;
  display: flex;
}

.mainRow__content--container--button--container--button {
  font-size: 1.3rem;
  padding: 10px;
  border-width: 0;
  background-color: #fc9031;
  color: white;
  outline: none;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  margin-right: 1rem;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.mainRow__content--container--button--container--button:hover {
  cursor: pointer;
  opacity: 1;
}

.mainRow__content--container--button--container--button:active {
  cursor: pointer;
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.icon {
  margin-right: 5px;
  margin-top: 3px;
}

.mainRow__content--container--button--content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}
