.mainRow {
  display: flex;
  /* justify-content: center;
  align-items: center; /** MUST BE OPTIONAL */
  margin: 30px 30px 30px 30px;
  padding: 60px 60px 60px 60px;
  /* max-width: 2000px;
  min-width: 2000px; */
  /* flex-wrap: wrap; */
  /* border: 5px solid red; */
  /* border: 1px solid #f5f5f5; */
}

.mainRow-background-color {
  background-color: white;
}

/* UTILITY CLASSES */

.mainRow_flexDirectionRow {
  flex-direction: row;
}

.mainRow_justifyContentCenter {
  justify-content: center;
}

.mainRow_flexDirectionColumn {
  flex-direction: column;
}

.mainRow__alignItemsCenter {
  align-items: center;
}
.mainRow__reversed {
  flex-direction: row-reverse;
}

.mainRow__content--container {
  /* border: 5px solid green; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
  /* background-color: #f0f0f0; */
  padding: 50px;
  flex: 0.6;
}

.mainRow__content {
  padding: 3rem;
  margin-top: 1rem;
  margin-right: 0.4rem;
  margin-left: 2.2rem;
  /* width: 20%; */
  max-width: 1300px;
  /* border: 2px solid red; */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #f5f5f5; */
  /* box-shadow: 0px 4px 8px -7px rgba(0, 0, 0, 0.75); */
}

/* UTILITY CLASSES */
/* .mainRow__content--margin--right {
  margin-right: 2.2rem;
} */

.mainRow__content--priceDescription {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  /* border: 1px solid red; */
}

.mainRow__content--margin--left {
  margin-left: 2.2rem;
}

.mainRow__content--width {
  width: 20%;
}

.mainRow__content > h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}

.mainRow__content > h3 {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  /* margin-bottom: 1rem; */
  font-size: 1.6rem;
  padding: 8px 0;
}

.mainRow__content--colorWhite {
  color: #f8f8f8;
}

.mainRow__content > p {
  letter-spacing: 1px;
  line-height: 1.5em;
  /* color: #181818; */
  font-weight: 500;
  padding: 8px 0;
  font-size: 1.6rem;
  /* border: 2px solid blue; */
}

.mainRow__image--container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  justify-content: center;
  /* border: 5px solid purple; */

  flex-wrap: wrap;
  flex: 0.4;
}

/* .mainRow__image--container--home{
  display: flex;  
  justify-content: center;
  border: 5px solid purple;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex: 0.4;
} */

/*UTILITY CLASS*/
.mainRow__image--container--alignItemsCenter {
  align-items: center;
}
/*
.mainRow__image--container--alignItemsEnd {
  align-items: flex-end;
}

.mainRow__image--container--margin--right {
  margin-right: 2.2rem;
}

.mainRow__image--container--margin--left {
  margin-left: 2.2rem;
} */

hr {
  border: 1px solid #e0e0e0;
  opacity: 0.6;
  border-radius: 2px;
  width: 80%;

  margin-top: 3rem;
}

.mainRow__image--container > img {
  object-fit: contain;
}
/* 
@media screen and (max-width: 4000px) {
  .mainRow {
    flex-direction: column;
  }
} */

.mainRow__content--container--button--container {
  /* border: 1px solid purple; */
  margin: 5px;
  margin-left: 5.4rem;
  font-size: 1.4rem;
  display: flex;
}

.mainRow__content--container--button--container--button {
  /* width: 200px; */
  /* height: 100%; */
  font-size: 1.4rem;
  padding: 20px;
  /* padding-bottom: 45px; */
  border-width: 0;
  /* border: 1px solid #a3a1a1; */
  background-color: #fc9031;
  color: white;
  outline: none;
  letter-spacing: 1px;
  font-weight: bold;
  /* border: none; */
  text-align: center;
  margin-right: 1rem;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.3s;

  /* text-decoration: none; */
}

.mainRow__content--container--button--container--button:hover {
  cursor: pointer;
  opacity: 1;
}

.mainRow__content--container--button--container--button:active {
  cursor: pointer;
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.icon {
  margin-right: 5px;
  margin-top: 3px;
  /* border: 1px solid red; */
}

.mainRow__content--container--button--content {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}
