@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.prices {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prices__mainContainer {
  max-width: 1920px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* background-color: white; */
}

.prices__content {
  background-color: white;
  margin: 4px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  color: #111;
  /* height: 400px; */
  /* border: 1px solid red; */
}

.fade {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 6rem;
  max-height: 30vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #232323
  );
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.txtContainer {
  /* border: 1px solid red; */
  /* flex: 0.7; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list--mainContainer {
  display: flex;
  /* border: 1px solid BLUE; */
  justify-content: center;
  /* margin-left: 4.5em; */
}

.price__checkIcon {
  margin-top: 11px;
  /* border: 1px solid red; */
  display: flex;
  height: 205px;
  justify-content: space-evenly;
  flex-direction: column;
}

.txtContainer > p {
  margin-bottom: 18px;
  font-size: 18px;
}

.txtContainer > h1 {
  margin-bottom: 18px;
  font-weight: 500;
  text-align: center;
  /* white-space: nowrap; */
}

.imageQuantity__title {
  font-family: "Roboto Mono", monospace;
}

.txtContainer > h2 {
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 600;
}

.price__include > h2 {
  font-weight: 600;
  font-size: 16px;
}

.prices__unorderedList {
  list-style: none;
  padding: 20px;
  padding-right: 0;
  padding-left: 2px;
  /* padding-right: 46px; */
  text-align: left;
  /* border: 1px solid red; */
}

.prices__unorderedList > li {
  padding: 8px;
  font-weight: 400;
  color: #606060;
  /* font-weight: 300; */
}

#bryllypList {
  padding: 8px;
}

#bryllupPrice {
}

.prices__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #32292f;
  /* border: 1px solid white; */
  border: none;
  color: white;
}

#bryllypsBtn {
  background-color: white;
  color: #32292f;
}

.prices__btn:hover {
  cursor: pointer;
}

.price__include {
  /* border: 1px solid blue; */
  flex: 1;
}

.btn {
  position: relative;
  top: -1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff8c27;
  /* border: 1px solid white; */
  border: none;
  color: white;
}

@media screen and (min-width: 1440px) {
  .prices__mainContainer {
    width: 100%;
  }
  .containerr {
    width: 400px;
  }
  #prices__bryllupContainer {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 1440px) {
  .prices__mainContainer {
    width: 100%;
  }
  .containerr {
    width: 300px;
  }
  .prices__content {
    flex-basis: 47%;
  }
  #prices__bryllupContainer {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .containerr {
    width: 400px;
  }
  .prices__content {
    flex-basis: 47%;
  }
  #prices__bryllupContainer {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 499px) {
  .containerr {
    /* border: 1px solid red; */
    width: 300px;
  }

  .imageQuantity__title {
    font-size: 26px;
  }

  .prices__btn {
    font-size: 8px;
    padding: 10px 25px;
  }

  .btn {
    font-size: 10px;
    padding: 10px 25px;
  }

  .wrapper {
    margin-bottom: 3rem;
  }

  #prices__bryllupContainer {
    flex-basis: 90%;
  }
  .prices__content {
    margin-bottom: 12px;
  }
}

/* show more code */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}

.containerr {
  /* width: 400px; */
  margin: 3px;
  /* width: 80%;         Set as per your requirement */
  position: relative;
  overflow-y: hidden;
  background-color: white;
}

.showLess {
  flex-basis: 20rem; /* Set as per your requirement */
  transition: 0.4s ease-out;
}
.extend {
  flex-basis: 35rem; /* Set as per your requirement */
  transition: flex-basis 0.4s ease-in-out;
}
