.home__progressBarContainer {
  /* background-color: black;
  height: 10px; */
  position: fixed;
  top: 69px;
  left: 0;
  z-index: 2;
  width: 100%;
}

.home__progressBarStyle {
  height: 5px;
  background-color: #ff8c27;
  transition-timing-function: ease-in;
  transition: all 0.2s;
}
